<div class="card">
    <div class="card-body">
        <h5 class="card-title">Statistics</h5>
        <!-- style="width: 150px;height: 30px;" -->
        <select [(ngModel)]="status" (change)="updateChartType()"
            class="mdb-select md-form colorful-select dropdown-primary">
            <option value='confirmed'>Confirmed</option>
            <option value='recovered'>Recovered</option>
            <option value='deaths'>Deaths</option>
        </select>
        <div class="chart-wrapper">
            <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
            </canvas>
        </div>
    </div>
</div>